
html, body {
    margin: 0;
    padding: 0;
    height: 100%;
}

body {
    overflow: hidden;
}

* {
    box-sizing: border-box;
}


body {
    margin: 0;
    min-width: 320px;
    min-height: 100vh;
}


:root {
    font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
    line-height: 1.5;
    font-weight: 400;


    font-synthesis: none;
    text-rendering: optimizeLegibility;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    -webkit-text-size-adjust: 100%;
}


#main_item{
    font-weight: bold;
}

#root{
    min-width: 300px;
    display: flex;
    width: 100vw;
    height: 100vh;
}

/* Для Chrome, Safari и других WebKit-браузеров */
::-webkit-scrollbar {
    width: 12px;
}

::-webkit-scrollbar-track {
    background: #f1f1f1;
}

::-webkit-scrollbar-thumb {
    background-color: #888;
    border-radius: 10px;
    border: 3px solid #f1f1f1;
}

::-webkit-scrollbar-thumb:hover {
    background: #555;
}

/* Для Firefox */
* {
    scrollbar-width: thin;
    scrollbar-color: #888 #f1f1f1;
}
